body {
    margin: 0;
    overflow-x: hidden;
}

.bg {}

.header {
    text-align: center;
}

    .title {}

    .task-input-label {}

    .task-input {}

    .task-add-button {}

.task-list-container {
    width: 90%;
    margin: auto;
}

    .task-list {
        padding: 2em;
        border: 1px solid blue;
    }

        .task-list-legend {
            padding: 0 1em;
        }

        .task-container {
            position: relative;
            display: flex;
            border: 1px solid red;
            background: yellow;
            padding: 1em 0;
            width: 90%;
            max-width: 1080px;
            margin: 0 auto 1em auto;
            align-items: center;
            text-align: center;
        }

            .task-checkbox-container {
                padding: 1em;
                min-width: 2em;
                justify-self: start;
            }

                .task-checkbox {
                    transform: scale(2);
                }

            .task-title {
                width: 1 1 100%;
            }

            .task-remove-button {
                min-width: 6em;
                padding: 0.5em;
            }

            
@media screen and (max-width: 780px) {

    .task-checkbox-container {
        padding: 0.5em;
    }

}